<%-include('header-footer/header.ejs');%> 
    <main>
        <div class="first_section">
            <div  class="first_section1">
                <img src="https://th.bing.com/th/id/OIP.JNIcrCE2eV3-9lxuCJ0wBAHaF0?pid=ImgDet&rs=1" class="img_section">
                 <h1 class="title_section">Sucos
                    <p class="prec">R$ 8,00 Unidade</p>
                 </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="8" name="preco" class="input_data">
                <input type="text" value="suco" name="prato" class="input_data">
                <select name="sabor">
                    <option value="goiaba">Goiaba</option>
                    <option value="acerola">Acerola</option>
                    <option value="manga">Manga</option>
                    <option value="uva">Uva</option>
                    <option value="maracuja">Maracujá</option>
                </select>
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                 <img src="https://impressiones.com.mx/wp-content/uploads/2019/07/WhatsApp-Image-2019-07-12-at-15.10.33.jpeg" class="img_section">
                <h1 class="title_section">Refrigerantes
                    <p class="prec">R$ 8,00 Unidade</p>
                </h1>
            </div>
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="8" name="preco" class="input_data">
                <input type="text" value="refrigerante" name="prato" class="input_data">
                <select name="sabor">
                    <option value="coca-cola">Coca-cola</option>
                    <option value="fanta uva">Fanta uva</option>
                    <option value="fanta laranja">Fanta laranja</option>
                    <option value="guarana">Guaraná</option>
                    <option value="pepsi">Pepsi</option>
                </select>
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                <img src="https://th.bing.com/th/id/R.2f66c6c8d0a76cf5d48a999eedcc1e24?rik=rY8y5kQDBj9%2bGw&pid=ImgRaw&r=0" alt="" class="img_section">
                <h1 class="title_section">Vinhos
                    <p class="prec">R$ 145,00 Unidade</p>
                </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="145" name="preco" class="input_data">
                <input type="text" value="vinho" name="prato" class="input_data">
                <select name="sabor">
                    <option value="barefoot">Barefoot</option>
                    <option value="gallo">Gallo</option>
                    <option value="casillero">Casillero</option>
                </select>
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                <img src="https://th.bing.com/th/id/OIP._qkndVkxV658vOtVdBejiAHaFa?pid=ImgDet&rs=1" alt=""
                class="img_section">
            <h1 class="title_section">Licores
                <p class="prec">R$ 137,00 Unidade</p>
            </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="137" name="preco" class="input_data">
                <input type="text" value="licor" name="prato" class="input_data">
                <select name="sabor">
                    <option value="amaretto">Amaretto</option>
                    <option value="horchata">Horchata</option>
                    <option value="dizaronno">Dizaronno</option>
                    <option value="uva">Uva</option>
                    <option value="maracuja">Maracujá</option>
                </select>
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
      
    </main>
<%-include('header-footer/footer.ejs');%> 
