<%-include('header-footer/header.ejs');%> 
    <main>
        <div class="first_section">
            <div  class="first_section1">
                <img src="https://th.bing.com/th/id/R.95ccda75f0d6833283a11790d023867e?rik=AGgQT5CRwQQ%2bkg&pid=ImgRaw&r=0" class="img_section">
                 <h1 class="title_section">Churrasco
                    <p class="prec">R$ 30,00 Unidade</p>
                 </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="30" name="preco" class="input_data">
                <input type="text" value="churrasco" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                 <img src="https://th.bing.com/th/id/OIP.EYypMc8JkegkwDlz8l_13wHaEK?pid=ImgDet&rs=1" class="img_section">
                <h1 class="title_section">Carne de sol
                    <p class="prec">R$ 60,00 Unidade</p>
                </h1>
            </div>
           
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="60" name="preco" class="input_data">
                <input type="text" value="carne-de-sol" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                <img src="https://th.bing.com/th/id/OIP.EDJ2p42gXAINtPtlbtTTpwHaE8?pid=ImgDet&rs=1" alt="" class="img_section">
                <h1 class="title_section">Carne de panela
                    <p class="prec">R$ 35,00 Unidade</p>
                </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="35" name="preco" class="input_data">
                <input type="text" value="carne de panela" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                <img src="https://th.bing.com/th/id/OIP.X_6s35CEN43EI31NJ8xzoQHaE8?pid=ImgDet&rs=1" alt=""
                class="img_section">
            <h1 class="title_section">Almondegas
                <p class="prec">R$ 29,00 Unidade</p>
            </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="29" name="preco" class="input_data">
                <input type="text" value="almondegas" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
      
    </main>
<%-include('header-footer/footer.ejs');%> 
