<%-include('header-footer/header.ejs');%> 
    <main>
        <div class="first_section">
            <div  class="first_section1">
                <img src="https://cdn.pixabay.com/photo/2016/03/05/21/45/pizza-1239077_960_720.jpg" alt="" class="img_section">
                 <h1 class="title_section">Calabresa
                    <p class="prec">R$ 35,00 Unidade</p>
                 </h1>
            </div>
            
            <form class="enter_section"  method="post" action="finaliza_pedido">
                <input type="text" value="35" name="preco" class="input_data">
                <input type="text" value="pizza calabresa" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                 <img src="https://pizzariameurancho.com.br/wp-content/uploads/2014/04/13-frango-bolonhesa.jpg" class="img_section">
                <h1 class="title_section">Frango
                    <p class="prec">R$ 35,00 Unidade</p>
                </h1>
            </div>
           
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="35" name="preco" class="input_data">
                <input type="text" value="pizza frango" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                <img src="https://th.bing.com/th/id/R.bb2f587f4aa4f36b61083db93921575c?rik=EuKLn4Li4%2f6AQQ&pid=ImgRaw&r=0&sres=1&sresct=1" alt="" class="img_section">
                <h1 class="title_section">Mussarela
                    <p class="prec">R$ 35,00 Unidade</p>
                </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="35" name="preco" class="input_data">
                <input type="text" value="pizza mussarela" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                <img src="https://th.bing.com/th/id/R.ad4ae0ea988a151e3c23662d332d3f53?rik=1unXHFtUjoJpKw&riu=http%3a%2f%2fwww.vocesabia.net%2fwp-content%2fuploads%2f2012%2f07%2fPizza-de-portuguesa1.jpg&ehk=mPQ4cjecn1Pb6k3NAV8uAFu1RjO1ZSkvfcg50hqQkDo%3d&risl=&pid=ImgRaw&r=0" alt=""
                class="img_section">
            <h1 class="title_section">Portuguesa
                <p class="prec">R$ 35,00 Unidade</p>
            </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="35" name="preco" class="input_data">
                <input type="text" value="pizza portuguesa" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                <img src="https://th.bing.com/th/id/OIP.wWgqCgMTimc6s7bLwf0fyAHaFj?pid=ImgDet&rs=1" alt=""
                class="img_section">
            <h1 class="title_section">4 queijos
                <p class="prec">R$ 35,00 Unidade</p>
            </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="35" name="preco" class="input_data">
                <input type="text" value="pizza 4Queijo" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
    </main>
<%-include('header-footer/footer.ejs');%> 
