<%-include('header-footer/header.ejs');%> 
    <main>
        <div class="first_section">
            <div  class="first_section1">
                <img src="https://th.bing.com/th/id/R.03cbcab0351dd6928a916b23afb151e2?rik=LV%2fUSjGB3ftfMQ&pid=ImgRaw&r=0" class="img_section">
                 <h1 class="title_section">Tradicional
                    <p class="prec">R$ 15,00 Unidade</p>
                 </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="15" name="preco" class="input_data">
                <input type="text" value="salada tradicional" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                 <img src="https://th.bing.com/th/id/R.b16983c02769035f31f4c4aa9adfb84e?rik=tD5nwlcDSN%2fYgA&pid=ImgRaw&r=0" class="img_section">
                <h1 class="title_section">Salada de maionese
                    <p class="prec">R$ 18,00 Unidade</p>
                </h1>
            </div>
           
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="18" name="preco" class="input_data">
                <input type="text" value="salada maionese" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                <img src="https://th.bing.com/th/id/OIP.RpXSVVT-em5OcDrUzDSEDgHaE8?pid=ImgDet&rs=1" alt="" class="img_section">
                <h1 class="title_section">Salada de batata
                    <p class="prec">R$ 20,00 Unidade</p>
                </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="20" name="preco" class="input_data">
                <input type="text" value="salada batata" name="prato" class="input_data">
                <button type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
               </button>   
            </form>
        </div>
        <div class="first_section">
            <div class="first_section1">
                <img src="https://th.bing.com/th/id/R.a3b189467d4dfbd02d7113bd0e573ac6?rik=i6s%2buH4SbTV9BQ&riu=http%3a%2f%2fwww.tudogostoso.com.br%2fimages%2frecipes%2f000%2f052%2f918%2f4034%2f4034_original.jpg&ehk=xrmxqo0WFzL%2b1KeBoHH6%2bqh1x%2fVhiS%2fJKRsgj8bTsYo%3d&risl=&pid=ImgRaw&r=0" alt=""
                class="img_section">
            <h1 class="title_section">Salada de grão de bico
                <p class="prec">R$ 36,00 Unidade</p>
            </h1>
            </div>
            
            <form class="enter_section" method="post" action="finaliza_pedido">
                <input type="text" value="36" name="preco" class="input_data">
                <input type="text" value="salada-grao-de-bico" name="prato" class="input_data">
                <button type="submit">
                     <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="" srcset="">
                </button>
               
            </form>
        </div>
      
    </main>
<%-include('header-footer/footer.ejs');%> 
